body{
    margin: 0;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes color{
    100%{
        transform: rotate(360deg);
    }
    10%{
        background-color: antiquewhite;
    }
    20%{
        background-color:burlywood;
    }
    30%{
        background-color: orchid;
    }
    40%{
        background-color: green;
    }
    50%{
        background-color: beige;
    }
    60%{
        background-color: yellow;
    }
    70%{
        background-color: red;
    }
    80%{
        background-color: purple;
    }
    90%{
        background-color: wheat;
    }
    100%{
    background-color: black;
    }
}
body:hover{
    background-color: aqua;
    background-position: left;
}
.suhel{
    width: 200px;
    height: 200px;
    
    border-width: 10px;
    border-style: dashed;
    border-color: #000000;
    border-radius: 50%;
    background-color: pink;
    position: fixed;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40vh;
    right: 30vw;
    animation-direction: alternate-reverse;
}
@keyframes spin{
    
   0%{
    left: 0px;
   }
    10%{
        background-color: antiquewhite;
    }
    20%{
        background-color:burlywood;
    }
    30%{
        background-color: orchid;
    }
    40%{
        background-color: green;
    }
    50%{
        background-color: beige;
    }
    60%{
        background-color: yellow;
    }
    70%{
        background-color: red;
    }
    80%{
        background-color: purple;
    }
    90%{
        background-color: wheat;
    }
    100%{
        left: 900px;
        transform: rotate(360deg);
    }
    
}
.suhel:hover{
    background-color: cyan;
    color: black;
    font-size: 40px;
    transition: 2s;

}
.suhel:active{
    background-color: aqua;
    color: red;
    font-size: 50px;
    transition: 2s;
}
.khan{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 10px;
    border-style: dashed;
    border-color: #000000;
    background-color: pink;
    position: fixed;
    animation-name: round;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-self: center;
}
@keyframes round{
    10%{
        background-color: antiquewhite;
    }
    20%{
        background-color:burlywood;
    }
    30%{
        background-color: orchid;
    }
    40%{
        background-color: green;
    }
    50%{
        background-color: beige;
    }
    60%{
        background-color: yellow;
    }
    70%{
        background-color: red;
    }
    80%{
        background-color: purple;
    }
    90%{
        background-color: wheat;
    }
    100%{
        transform: rotate(360deg);
    }
}
.khan:hover{
    background-color: cyan;
    color: black;
    font-size: 40px;
    transition: 10s;
}
.khan:active{
    background-color: aqua;
    color: red;
    font-size: 50px;
    transition: 2s;
}
/* Main news bar */
.news-bar{
  display:flex;
  align-items:center;
  background:black;
  color:white;
  padding:0px;
  overflow:hidden;
}

/* Breaking news label */
.label{
  background:red;
  padding:5px 15px;
  font-weight:bold;
  margin-right:10px;
}

/* Ticker box */
.ticker{
  width:100%;
  overflow:hidden;
  position:relative;
}

/* Moving text */
.ticker-text{
  white-space: nowrap;
  display:inline-block;
  animation: scrollText 100s linear infinite;
}

/* Animation */
@keyframes scrollText{
  0%{
    transform: translateX(20%);
  }
  100%{
    transform: translateX(-100%);
  }
}

/* Pause on hover */
.ticker-text:hover{
  animation-play-state: paused;
}
